<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <style>

      .editing_users{
        background-color: #2ecc71;
        color: #FFF;
      }

    </style>

    <section class ="table_demo">

        <input type = "text" placeholder="Search for a user" v-model="userSearchFilter">
        <button v-on:click="addUser()">
          Add User
        </button>
        {{userEditing | json}}
        <button v-bind:class="toggleEditClass" v-on:click="userEditing = !userEditing">
          Edit Users
        </button>

        <ul>
            <template v-for="user in users | findUserSearch">
              <li>
                <user :user="user">

                </user>
                <button v-on:click="removeUser(user)">
                  X
                </button>

                <div v-show="userEditing">
                  <br>
                  <input type = "text" v-model="user.first_name">
                  <input type = "text" v-model="user.last_name">
                  <input type = "text" v-model="user.dob">
                </div>

              </li>
              <br>
            </template>
        </ul>
        {{foundNoUsers | json}}
        <div v-show="foundNoUsers === true">
          No users found with your search..
          <button>
            Clear Search?
          </button>
        </div>
    </section>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.min.js"></script>
    <script src = "user.js"> </script>
    <script src="app.js"></script>

  </body>
</html>
